html {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}
.add-task > i {
	color: white;
	font-size: 1.5rem;
}

button {
	background: none;
	border: none;
}

nav {
	width: 100%;
	background-color: #000;
	color: white;
}

nav > ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	height: 40px;
}

nav > ul > li {
	display: inline;
	margin: 5px;
}

li.logo {
	margin-right: auto;
}

main {
	display: flex;
	height: calc(100vh - 40px);
}
section {
	padding: 10px;
}
section.side-bar {
	border-right: 2px solid black;
	width: 200px;
}
form input[type="text"] {
	width: 100%;
}

section.content > .sub-task {
	margin: 20px 0 0 10px;
}
.add-task-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	border-radius: 15px;
}

.close {
	color: #aaa;
	float: right;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
/* .hidden{
    display: none;
} */
