:root {
	--dark: #050404;
	--light: #eaeaea;
	--gray: #797d81;
	--accent-orange: #ee7b30;
	--accent-red: #f8333c;
}

html {
	font-family: "Lato", "sans-serif";
	font-size: 16px;
	cursor: default;
}
.add-task > i {
	color: var(--light);
	font-size: 1.5rem;
}

button {
	background: none;
	border: 1px solid var(--dark);
	border-radius: 5px;
	padding: 5px;
}

nav {
	width: 100%;
	background-color: var(--dark);
	color: var(--light);
}
.content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

nav > ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style-type: none;
	height: 40px;
}

nav > ul > li {
	display: inline;
	margin: 5px;
}

li.logo {
	margin-right: auto;
}
.logo-text {
	display: inline;
	font-size: 2rem;
	font-weight: bold;
}

main {
	display: flex;
	height: calc(100vh - 40px);
}
section {
	padding: 10px;
}
section.side-bar {
	border-right: 2px solid var(--dark);
	width: 25px;
}
div {
	overflow: hidden;
	text-overflow: ellipsis;
}
section.side-bar > div > * {
	display: inline-block;
	padding: 2px;
}
.i-project {
	height: 16px;
	width: 16px;
	padding: 2px;
}

section.display {
	width: 130px;
}
form input[type="text"] {
	width: 90%;
}
form textarea {
	width: 90%;
	resize: none;
}
form > * {
	margin: 5px;
	font: inherit;
}

form > button {
	margin-right: auto;
}
.sub-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.sub-nav > * {
	margin: 5px;
}
section.content > .sub-task {
	margin: 20px 0 0 10px;
}

.sub-task > * {
	display: inline;
}
.add-task-modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--dark);
	background-color: rgba(5, 4, 4, 0.4);
}
.modal-content {
	background-color: var(--light);
	margin: 15% auto;
	padding: 20px;
	border: 1px solid var(--gray);
	width: 30%;
	max-width: 300px;
	border-radius: 15px;
}

.selected {
	background-color: var(--gray);
	clip-path: polygon(90% 0px, 100% 50%, 90% 100%, 0px 100%, 0px 0px);
}
.fa-tasks {
	padding: 5px;
	font-size: 2rem;
}
.close {
	color: var(--gray);
	float: right;
}

.close:hover,
.close:focus {
	color: var(--dark);
	text-decoration: none;
	cursor: pointer;
}
.hidden {
	display: none !important;
}
.task-form > label {
	font-size: 14px;
}

.center {
	margin: 0 auto !important;
	display: block !important;
}
h3 {
	font-size: 1.5rem;
}

.options,
.trash {
	color: var(--gray);
}
.options:hover,
.trash:hover {
	color: var(--dark);
}

.project-name {
	margin-right: auto;
}
